<nav>
    <div>
        <span>
            <a href="{% url 'calculator' %}">Price Calculator</a>
        </span>

        <span style="color: white">
            empty
        </span>
    
        <span>
            <a href="{% url 'ridetypes:ridetype-table' %}">Table of Ride Types</a>
        </span>

        <span style="color: white">
            empty
        </span>
    
        <span>
            <a href="{% url 'stalls:product-table' %}">Table of Products Sold in Stalls</a>
        </span>
    </div>
    
    
</nav>